@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Chewy&display=swap");

.font_Chewy {
    font-family: "Chewy", system-ui;
}

.font_Balsamiq {
    font-family: "Balsamiq Sans", sans-serif;
}

:root {
    --font-base: 20px;
    --font-md: 24px;
    --font-lg: 32px;
    --font-xl: 64px;
    --font-2xl: 200px;
    --white: #FFFFFF;
    --yellow: #FBA11D;
    --sky-blue: #23AAAC;
    --orange: #D45B07;
    --pink: #FB5352;
    --light-green: #8EC627;
    --green: #09655a;
    --dark-green: #0a4740;
}

/*-----------Font size-------------*/
.fs_base {
    font-size: var(--font-base);
}

.fs-md {
    font-size: var(--font-md);
}

.fs-lg {
    font-size: var(--font-lg);
}

.fs-xl {
    font-size: var(--font-xl);
}

.fs-2xl {
    font-size: var(--font-2xl);
}

/*----------------color------------------*/
.text_white {
    color: var(--white);
}

.text-yellow {
    color: var(--yellow);
}

.bg-yellow {
    background: var(--yellow);
}

.text_sky_blue {
    color: var(--sky-blue);
}

.text-orange {
    color: var(--orange);
}

.bg-orange {
    background: var(--orange);
}

.bg-sky-blue {
    background: var(--sky-blue);
}

.text-sky-blue {
    color: var(--sky-blue);
}

.text-pink {
    color: var(--pink);
}

.text-light-green {
    color: var(--light-green);
}

.bg-pink {
    background: var(--pink);
}

.bg-light-green {
    background: var(--light-green);
}

.bg-dark-green {
    background: var(--dark-green);
}

.bg-green {
    background: var(--green);
}

@media(max-width:1200px) {
    :root {
        --font-base: 14px;
        --font-md: 16px;
        --font-lg: 24px;
        --font-xl: 40px;
        --font-2xl: 100px;
    }
}

@media(max-width:1023.99px) {
    :root {
        --font-base: 14px;
        --font-md: 16px;
        --font-lg: 20px;
        --font-xl: 40px;
        --font-2xl: 150px;
    }
}

@media(max-width:768px) {
    :root {
        --font-base: 14px;
        --font-md: 16px;
        --font-lg: 18px;
        --font-xl: 40px;
        --font-2xl: 120px;
    }
}

@media(max-width:375.99px) {
    :root {
        --font-base: 14px;
        --font-md: 16px;
        --font-lg: 18px;
        --font-xl: 40px;
        --font-2xl: 80px;
    }
}